<div class="active-demo-night">
  <h2>Active Code Fair</h2>
  <%= link_to('Create New Code Fair', new_admin_demo_night_path, class: "btn turing-btn waves-light waves-effect") if @demo_nights.currents.count == 0 %>
  <div class="row">
    <% @demo_nights.currents.each do |demo_night| %>
      <%= render partial: "demo_night", locals: { demo_night: demo_night } %>
    <% end %>
  </div>
</div>

<div class="closed-demo-nights">
  <h2>Closed Code Fairs</h2>
  <%= "No inactive code fairs" if @demo_nights.inactives.count == 0 %>
  <div class="row">
    <% @demo_nights.inactives.each do |demo_night| %>
      <%= render partial: "demo_night", locals: { demo_night: demo_night } %>
    <% end %>
  </div>
</div>

<div class="archived-demo-nights">
  <h2>Archived Code Fairs</h2>
  <%= "No archived code fairs" if @demo_nights.archived.count == 0 %>
  <div class="row">
    <% @demo_nights.archived.each do |demo_night| %>
      <%= render partial: "demo_night", locals: { demo_night: demo_night } %>
    <% end %>
  </div>
</div>
